html {
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-y: auto;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a,
a:hover,
a:visited {
  border: none;
  outline: none;
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: white;
}
